<!--NAVBAR//////////////////////////-->
{{#md-navbar name='HengLay' class='red darken-2'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#if isAuthenticated}}
    {{#link-to "admin-panel"}}Admin{{/link-to}}
      <button class="btn" type="button" name="button" {{action "signOut"}}>Sign Out</button>
    {{else}}
    <!--Remove before production-->
      {{#link-to 'sign-in' tagName='li'}}
        {{link-to 'Sign In' 'sign-in'}}
      {{/link-to}}
    <!--/.Remove before production-->
  {{/if}}
{{/md-navbar}}
<!--./NAVBAR//////////////////////////-->


{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2 container">
  {{outlet}}
</div>
