{{#md-navbar name='HengLay' class='red' homeRoute='dishes'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#if isAuthenticated}}
  {{#link-to "change-password"}}Change Password{{/link-to}}
    <button class="btn" type="button" name="button" {{action "signOut"}}>Sign Out</button>
  {{else}}
    {{#link-to 'sign-in' tagName='li'}}
      {{link-to 'Sign In' 'sign-in'}}
    {{/link-to}}
  {{/if}}
{{/md-navbar}}

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2 container">
  {{outlet}}
</div>
