<div class="row">
  <!--Categories: //////////////////////////////-->
  <div class="col m2 hide-on-small-only">
    {{#each categories as |cat|}}
      <li>{{cat.categoryType}}</li>
    {{/each}}
  </div>
  <!--./categories-->

  <!--Collection of menu items////////////////-->
  <ul class="collection col s12 m6">
    {{#each dishes as |dish|}}
    <li class="collection-item row">
      <div class="col s12 m10">
        <div class="item-title">{{dish.name}}</div>
        <div class="khmer-title">{{dish.khmerName}}</div>
        <p>{{dish.description}}
          <br>
          Second Line
        </p>
      </div>
      <div class="col s0 m2">
        <p class="item-price">
          Md {{dish.price}}
          <br>
          Lg {{dish.price}}
        </p>
      </div>

    </li>
    {{/each}}
  </ul>
  <!--/.Collection of menu items-->
</div>
<!--./row-->


<!--FAB to open modal and jump between categories on small screens////////////////-->

<!--./FAB to open modal and jump between categories-->
