<!--Toggle category buttons-->
<div class="card-panel center-align">
  {{filteredCategory.categoryType}}
  {{filteredCategory.categoryTypeKhmer}}
</div>

<!--Collection of menu items////////////////-->
<ul class="collection">
  {{#each filteredCategory.dishes as |dish|}}
  <li class="collection-item">
    <div>
      <span class="title">{{dish.name}}</span>
      <span class="khmer-title">{{dish.khmerName}}</span>
      <span class="secondary-content"><i class="">{{dish.price}}</i></span>
      <p>{{dish.description}} <br>
        Second Line
      </p>
      <!--Display admin buttons if user is authenticated-->
      {{#if isAuthenticated}}
        {{admin-tools/edit-delete
          editName='all-forms/edit-dish'
          deleteName='all-forms/delete-dish'
          deleteItem=attrs.deleteItem
          editItem=attrs.editItem
          dish=dish
          categories=categories}}
      {{/if}}
    </div>
  </li>
  {{/each}}
</ul>
<!--/.Collection of menu items-->
