<!-- Floating action button responsible for opening modals -->
{{#if isAuthenticated}}
  <div class="fixed-action-btn vertical click-to-toggle">
    <!--Main FAB with view-day icon-->
    <a class="btn-floating btn-large red">
      <i id="admin-tool-fab" class="large material-icons">view_day</i>
    </a>
    <!--Nested buttons-->
    <div class="row">
      <ul class="nested-fab-list">
        <li {{action "showItemModal"}}>
          <a class="btn-floating">
            {{!-- <i class="material-icons left">playlist_add</i> --}}
            Add Dishes
          </a>
        </li>
        <li {{action "toggleCategoryModal"}}>
          <a class="btn-floating">
            Add Category
            {{!-- <i class="material-icons right">library_add</i> --}}
          </a>
        </li>
        <li {{action "signOut"}}>
          <a class="signout-button btn-floating">
            {{!-- <i class="material-icons right">exit</i> --}}
            Sign out
          </a>
        </li>
      </ul>
    </div>

  </div>
{{/if}}

  <!--Opens modal to add new items -->
  {{#if isItemModalShown}}
    {{modal-window/new-item
      isModalShown=isItemModalShown
      saveItem=attrs.saveItem
      categories=categories }}
  {{/if}}

  <!--Opens modal to add new category -->
  {{#if isCategoryModalShown}}
    {{modal-window/new-category
      saveCategory=attrs.saveCategory
      deleteCategory=attrs.deleteCategory
      editCategory=attrs.editCategory
      categories=categories
      isModalShown=isCategoryModalShown }}
  {{/if}}
