<!--Add item card-->
{{#md-card title="Add new item" id="new-item-card" class="modal-card"}}
    {{#md-card-content}}
        <div class="row">
          {{md-input value=data.name label='Menu item' class="col s12 m6" validate=true}}
          {{md-input value=data.khmerName label='Khmer Name' class="col s12 m6" validate=true}}
          {{md-input value=data.price label='Price' class="col s12 m4" validate=true}}
          <!--To do: Pass category down to route to save relationship-->
          {{md-select content=categories
            value=data.category
            label="Category"
            prompt="Category"
            optionLabelPath="content.categoryType"
            optionValuePath="content.id" class="col s12 m8"}}
            {{md-textarea label='Description'
              value=data.description class="col s12"}}
        </div>
    {{/md-card-content}}
    {{#md-card-action class="right-align"}}
        <button class="btn" type="button" name="button" {{action "saveNewItem"}}>Save</button>
        <button class="btn" type="button" name="button" {{action "cancel"}}>Cancel</button>
    {{/md-card-action}}
{{/md-card}}
<!--/.Add item card-->
