<div class="row">
  <div class="col s0 m3">
    <div class="hide-on-med-and-down container-fluid filter-buttons">
      <!--Show all dishes button-->
      <button class="btn show-all-button" type="button" name="button" {{action 'filter' null}}>Show All</button>
      <!--Show specific category buttons-->
      {{#each categories as |cat|}}
        <button class="category-button btn" type="button" name="button" {{action 'filter' cat.categoryType}}>{{cat.categoryType}}</button>
      {{/each}}
    </div>
  </div>
  <!--Dish list//////////////////////////////-->
  <div class="col s12 m9">
    {{#each filteredCategory as |f|}}
      {{dishes-list filteredCategory=f
        editItem=attrs.editItem
        deleteItem=attrs.deleteItem
        categories=categories}}
    {{/each}}
  </div>
</div>
<!--//.row-->

<!-- FAB to open filter modal on small screens-->
{{#if (not isAuthenticated)}}
<div class="hide-on-med-and-up">
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" {{action "showFilter"}}>
      <i id="filter-button" class="large material-icons">view_day</i>
    </a>
  </div>
</div>
{{/if}}
<!-- //.FAB to open filter modal on small screens-->

{{#if isFilterModalShown}}
  {{modal-window/filterModal
    categories=categories
    filter="filter"
    showFilter="showFilter"
    }}
{{/if}}
