<div class="row">
  <div class="col s0 m2">
    <button class="btn" type="button" name="button" {{action 'filter' 'soups'}}>Soups</button>
    <button class="btn" type="button" name="button" {{action 'filter' 'noodle soup'}}>Noodle soups</button>
  </div>
  <!--Categories//////////////////////////////-->
  <div class="col s12 m10">
    {{#each categories as |cat|}}
    <div class="card-panel center-align">
      {{cat.categoryType}}
      {{cat.categoryTypeKhmer}}
    </div>
      <!--Collection of menu items////////////////-->
      <ul class="collection">
        {{#each cat.dishes as |dish|}}
        <li class="collection-item">
          <div>
            <span class="title">{{dish.name}}</span>
            <span class="khmer-title">{{dish.khmerName}}</span>
            <span class="secondary-content"><i class="">{{dish.price}}</i></span>
            <p>{{dish.description}} <br>
              Second Line
            </p>
              {{admin-tools/edit-delete
                deleteItem=attrs.deleteItem
                editItem=attrs.editItem
                dish=dish
                categories=categories}}
          </div>
        </li>
        {{/each}}
      </ul>
      <!--/.Collection of menu items-->
    {{/each}}
  </div>
  <!--./categories-->
</div>
<!--./row-->


<!--FAB to add menu item and categories////////////////-->
{{admin-tools/fab-add
  saveItem=attrs.saveItem
  categories=categories }}
<!--./FAB to add menu item and categories-->
