<!--Category Types//////////////////////////-->
<!--To do: make each tab display appropriate content-->
{{!-- {{#md-tabs selected=categoryType}}
  {{#each category as |category|}}
    {{md-tab value=category.id title=category.categoryType}}
  {{/each}}
{{/md-tabs}} --}}
<!--/.Category Types-->

<!--Collection of menu items////////////////-->
<h4>All Dishes</h4>
{{#md-collection content=dishes as |item|}}
  <div class='collection-item avatar'>
    {{!-- <i class="circle green mdi-action-favorite"></i> --}}
    <span class="menu-item title">{{item.name}} {{item.khmerName}}</span>
    <p>{{item.description}}</p>
    {{#link-to item.route class='secondary-content'}}
      <span>${{item.price}}</span>
    {{/link-to}}
  </div>
{{/md-collection}}
<!--/.Collection of menu items-->

<!--FAB to add menu item and categories////////////////-->
{{#if isAuthenticated}}
  {{admin-tools/fab-add saveItem=attrs.saveItem}}
{{/if}}
<!--./FAB to add menu item and categories-->
