<div class="row">
  <!--Categories//////////////////////////////-->
  <div class="col s2">
    {{#each categories as |cat|}}
      <li>{{cat.categoryType}}</li>
    {{/each}}
  </div>
  <!--./categories-->

  <!--Collection of menu items////////////////-->
  <ul class="collection col s10 m8">
    {{#each dishes as |dish|}}
    <li class="collection-item">
      <div>
        <span class="title">{{dish.name}}</span>
        <span class="khmer-title">{{dish.khmerName}}</span>
        <span class="secondary-content"><i class="">{{dish.price}}</i></span>
        <p>{{dish.description}} <br>
          Second Line
        </p>
        {{#if isAuthenticated}}
          {{admin-tools/edit-delete
            deleteItem=attrs.deleteItem
            editItem=attrs.editItem
            dish=dish
            categories=categories}}
        {{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
  <!--/.Collection of menu items-->
</div>
<!--./row-->


<!--FAB to add menu item and categories////////////////-->
{{#if isAuthenticated}}
  {{admin-tools/fab-add saveItem=attrs.saveItem categories=categories}}
{{/if}}
<!--./FAB to add menu item and categories-->
